In [1]:
import pandas as pd
from string import punctuation
import nltk
nltk.download('tagsets')
from nltk.data import load
nltk.download('averaged_perceptron_tagger')
from nltk import pos_tag
from nltk import word_tokenize
from collections import Counter

tagdict = load('help/tagsets/upenn_tagset.pickle')

data = pd.read_csv('data.csv', header = 0)
pos_di = {}
for pos in list(tagdict.keys()):
    pos_di[pos] = []
for doc in data['text']:
    di = Counter([j for i, j in pos_tag(word_tokenize(doc))])
    for pos in list(tagdict.keys()):
        pos_di[pos].append(di[pos])
feature_df = pd.DataFrame(pos_di)
feature_df['num_of_unique_punctuations'] = data['text'].apply(lambda x : len(set(x).intersection(set(punctuation))))
#print(data['text'].apply(lambda x : set(x).intersection(set(punctuation))))
feature_df['num_of_capital_words'] = data['text'].apply(lambda x : \
    len([word for word in word_tokenize(str(x)) if word[0].isupper()]))
feature_df['num_of_small_words'] = data['text'].apply(lambda x : \
    len([word for word in word_tokenize(str(x)) if word[0].islower()]))
feature_df['number_of_alphabets'] = data['text'].apply(lambda x : \
    len([ch for ch in str(x) if ch.isalpha()]))
feature_df['number_of_digits'] = data['text'].apply(lambda x : \
    len([ch for ch in str(x) if ch.isdigit()]))
feature_df['number_of_words'] = data['text'].apply(lambda x : \
    len(word_tokenize(str(x))))
feature_df['number_of_white_spaces'] = data['text'].apply(lambda x : \
    len(str(x).split(' '))-1)
feature_df.head()

[nltk_data] Downloading package tagsets to /Users/junsu/nltk_data...
[nltk_data]   Package tagsets is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/junsu/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

,LS,TO,VBN,'',WP,UH,VBG,JJ,VBZ,--,...,CC,CD,POS,num_of_unique_punctuations,num_of_capital_words,num_of_small_words,number_of_alphabets,number_of_digits,number_of_words,number_of_white_spaces
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,4,19,0,5,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,3,18,0,4,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,7,28,0,9,7
3,0,0,0,0,1,0,0,0,1,0,...,0,0,0,1,1,3,14,0,5,3
4,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,1,2,13,0,3,2